#hello {
  background: rgb(39, 38, 38);
}
#txt {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 1px black;
 }
 #imagen {
  background: rgb(255, 255, 255);
  border: 1px green;
}